<!DOCTYPE html>
<html lang="en">
<!-- klein menutje om naar de pagina's te navigeren. -->
<body>
  <footer>
    <ul id="state">
      <li><a class="btn" href="/">Home</a></li>
      <li><a class="btn" href="/create">Create</a></li>
      <li><a class="btn active" href="/profile">Profiel</a></li>
    </ul>
  </footer>
</body>

</html>