<!DOCTYPE html>
<html lang="en">
<!-- klein menutje om naar de pagina's te navigeren. -->

<body>
  <footer>
    <nav>
      <ul id="state">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/profile">Profiel</a></li>
      </ul>
    </nav>
  </footer>
</body>

</html>