<!DOCTYPE html>
<html lang="en">

<!-- simpele link naar de pagina om te starten. -->
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/create" class="direct">maak jouw profiel af</a></li>
      </ul>
    </nav>
  </header>
</body>

</html>