<%- include('partials/head') -%>

<body>
  <form action="create">
    <section>

      <h2>Wat is je naam?</h2>
      <ul class="name">
        <li>
          <label for="vname">Voornaam:</label>
          <input type="text" id="name" name="name" placeholder="Peter">
        </li>
        <li>
          <label for="aname">Achternaam:</label>
          <input type="text" id="name" name="name" placeholder="Brugman">
        </li>
      </ul>

      <h2>Wat is je leeftijd?</h2>
      <ul class="age">
        <li>
          <label for="leeftijd">Geboorte datum:</label>
          <input type="date" id="leeftijd" name="leeftijd">
        </li>
      </ul>

      <h2>Wat is je favoriete keuken?</h2>
      <ul class="kitchen">
        <div>
          <li>
            <input type="radio" name="keuken" id="radio1" checked>
            <label for="keuken">Italiaans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio2">
            <label for="keuken">Indisch</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio3">
            <label for="keuken">Frans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio4">
            <label for="keuken">Spaans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio5">
            <label for="keuken">Grieks</label>
          </li>
        </div>
        <div>
          <li>
            <input type="radio" name="keuken" id="radio6">
            <label for="keuken">Mexicaans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio7">
            <label for="keuken">Japans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio8">
            <label for="keuken">Chinees</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio9">
            <label for="keuken">Thais</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio10">
            <label for="keuken">Indonesisch</label>
          </li>
        </div>
      </ul>

      <h2>Voeg een foto toe</h2>
      <ul class="photo">
        <li>
          <label for="upload"></label>
          <input type="file" name="upload" id="upload"
            accept="image/png, image/jpeg, image/gif" />
        </li>
      </ul>
    </section>

    <section>
      <button>submit</button>
    </section>
  </form>

</body>

</html>