<!-- geen head want dit zit in de include -->
<%- include('partials/head') -%>
<!-- footer include met daarin een klein menutje -->
<%- include('partials/footer') -%>

<body>
  <h2 class="boven">Maak jouw profiel af</h2>
  <!-- Start van de vorm, de waarde komt overeen met die in mijn idex.js in de post -->
  <form action="toevoegen" method="post">
    <section>

      <!-- standaard input field voor voor en achternaam -->
      <h2 class="onder_boven">Wat is je naam?</h2>
      <ul class="name">
        <li>
          <label for="vname">Voornaam:</label>
          <input type="text" id="firstname" name="firstname" placeholder="Peter">
        </li>
        <li>
          <label for="aname">Achternaam:</label>
          <input type="text" id="lastname" name="lastname" placeholder="Brugman">
        </li>
      </ul>
      <!-- datum invullen voor je leeftijd -->
      <h2>Wat is je leeftijd?</h2>
      <ul class="age">
        <li>
          <label for="leeftijd">Geboorte datum:</label>
          <input type="date" id="leeftijd" name="leeftijd">
        </li>
      </ul>

      <!-- radio buttons om te kiezen wat je favoriete keuken is -->
      <h2>Wat is je favoriete keuken?</h2>
      <ul class="kitchen">
        <div>
          <li>
            <input type="radio" name="keuken" id="radio1" value='Italiaans' checked>
            <label for="radio1">Italiaans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio2" value='Indisch'>
            <label for="radio2">Indisch</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio3" value='Frans'>
            <label for="radio3">Frans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio4" value='Spaans'>
            <label for="radio4">Spaans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio5" value='Grieks'>
            <label for="radio5">Grieks</label>
          </li>
        </div>
        <div>
          <li>
            <input type="radio" name="keuken" id="radio6" value='Mexicaans'>
            <label for="radio6">Mexicaans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio7" value='Japans'>
            <label for="radio7">Japans</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio8" value='Chinees'>
            <label for="radio8">Chinees</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio9" value='Thais'>
            <label for="radio9">Thais</label>
          </li>
          <li>
            <input type="radio" name="keuken" id="radio10" value='Indonesisch'>
            <label for="radio10">Indonesisch</label>
          </li>
        </div>
      </ul>

      <!-- <h2>Voeg een foto toe</h2>
      <ul class="photo">
        <li>
          <label for="upload"></label>
          <input type="file" name="upload" id="upload"
            accept="image/png, image/jpeg, image/gif" />
        </li>
      </ul> -->
    </section>

    <section>
      <div class="submit">
      <button>submit</button>
    </div>
    </section>
  </form>
  <!-- <script src="./scripts/index.js"></script> -->
</body>

</html>