<!-- geen head want dit zit in de include -->
<%- include('partials/head') -%>

<%- include('partials/footer') -%>

<body>
  <h2>BijSmaak</h2>
<!-- header met daar in een link naar de volgend pagina. -->
<%- include('partials/header') -%>
</body>

</html>