<!-- geen head want dit zit in de include -->
<%- include('partials/head') -%>

<body class="achter">
  <h2 class="gradient" >BijSmaak</h2>

<!-- header met daar in een link naar de volgend pagina. -->
<%- include('partials/header') -%>

<%- include('partials/footer') -%>
</body>

</html>