<!-- geen head want dit zit in de include -->
<%- include('partials/head') -%>
<!-- header met daar in een link naar de volgend pagina. -->
<%- include('partials/header') -%>

<body>
  

</body>

</html>