<%- include('partials/head') -%>

<body>
  <% if (locals.loggedIn) { %>
  <p>Welcome <%= username %>!</p>
  <button>Log out</button>
  <% } else { %>
  <button>Log in</button>
  <% } %>
</body>

</html>