* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #c3ebef;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.boven {
  color: #5038bc;
  font-size: 1.75em;
}

.onder_boven {
  margin-top: 1.5em;
}


/* dit is de ccs voor het invullen van je naam */
.name {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name li {
  display: flex;
  flex-direction: column;
}

.name li input {
  width: 12em;
  border: 0px;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  margin: .5em 0 .5em 0;
}


/* dit is de css voor je leeftijd */
.age {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.age li {
  display: flex;
  flex-direction: column;
}

.age li input {
  width: 12em;
  border: 0px;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  margin: .5em 0 .5em 0;
}


/* dit is de ccs voor het kiezen van je favoriete keuken */
.kitchen {
  display: flex;
  justify-content: center;
}

.kitchen div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.kitchen div li {
  display: flex;
  margin-top: .5em;
}

.kitchen div li input {
  display: none;
}

.kitchen div li label {
  background-color: #7e6cfb;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  color: white;
}

input[type=radio]:checked+label {
  background-color: black;
}


/* dit is de css voor de button */
.submit {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 3em;
}

.submit button {
  background-color: #5038bc;
  border-radius: 2em;
  padding: .5em 2em .5em 2em;
  color: white;
  border: 0;
  font-size: large;
  margin-bottom: 5em;
}


/* css voor pagina 'profile' */
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.info h3 {
  margin-top: 1em;
  color: #7e6cfb;
}

.info p {
  margin-top: .5em;
  font-size: larger;
  color: black;
}

.test nav ul li {
  display: flex;
  justify-content: center;
}

.test nav ul {
  margin-top: 5em;
}

.direct {
  text-decoration: none;
  font-size: larger;
  margin-top: 1em;
  color: white;
  background-color: #5038bc;
  border-radius: 2em;
  padding: .5em 2em .5em 2em;
}

.editdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_button {
  background-color: #5038bc;
  border-radius: 2em;
  padding: .5em 2em .5em 2em;
  color: white;
  border: 0;
  font-size: large;
  margin-top: 3em;
}


/* css van de footer in mn include. */
footer {
  display: flex;
  background-color: #74d3dc;
  position: fixed;
  bottom: 0;
}

footer ul {
  display: flex;
  align-items: center;
}

footer ul li {
  width: 33.333vw;
  display: flex;
  height: 4em;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
}

footer ul li a {
  text-decoration: none;
  background-color: #5038bc;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  color: white;
  border: 0;
  position: relative;
}

footer ul li a:active {
  background-color: #7e6cfb;
  top: 2px
}

p {
  text-align: center;
  color: red;
}


/* index pagina */
.gradient {
  background-image: linear-gradient(to right, rgb(64, 255, 255), rgb(88, 17, 158));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  text-transform: uppercase;
}

.achter {
  background: rgb(165, 56, 207);
  background: linear-gradient(90deg, rgba(165, 56, 207, .5) 0%, rgba(101, 237, 245, .5) 100%);
}