* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #c3ebef;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

/* dit is de ccs voor het invullen van je naam */
.name {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name li {
  display: flex;
  flex-direction: column;
}

.name li input {
  width: 12em;
  border: 0px;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  margin: .5em 0 .5em 0;
}

/* dit is de css voor je leeftijd */
.age {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.age li {
  display: flex;
  flex-direction: column;
}

.age li input {
  width: 12em;
  border: 0px;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  margin: .5em 0 .5em 0;
}

/* dit is de ccs voor het kiezen van je favoriete keuken */
.kitchen {
  display: flex;
  justify-content: center;
}
.kitchen div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
.kitchen div li {
  display: flex;
  margin-top: .5em;
}

/* .kitchen div li input {
  display: none;
} */

.kitchen div li label {
background-color: #7e6cfb;
border-radius: 2em;
padding: .5em 1em .5em 1em;
color: white;
}

input[type=radio]:checked + label {
  background-color: black;
}

/* dit is de ccs voor het toevoegen van een foto */

.photo {
  display: flex;
  justify-content: center;
}

.photo li{
  display: flex;
  margin-top: 1em;
}

.photo li input::-webkit-file-upload-button{
  visibility: hidden;
}

.photo li input::before {
  content: 'kies een foto';
  display: flex;
  background-color: #7e6cfb;;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  color: white;
  justify-content: center;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 3em;
}

/* dit is de css voor de button */
.submit button {
  background-color: #5038bc;
  border-radius: 2em;
  padding: .5em 2em .5em 2em;
  color: white;
  border: 0;
  font-size: large;
  margin-bottom: 5em;
}



/* css voor pagina 'profile' */

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}
.info h3{
  margin-top: 1em;
  color: #7e6cfb;
}
.info p {
  margin-top: .5em;
  font-size: larger;
}

.direct {
  display: flex;
  text-decoration: none;
  font-size: larger;
  justify-content: center;
  margin-top: 5em;
}

.editdiv  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit_button {
  background-color: #5038bc;
  border-radius: 2em;
  padding: .5em 2em .5em 2em;
  color: white;
  border: 0;
  font-size: large;
  margin-top: 3em;
}

/* css van de footer in mn include. */
footer {
  display: flex;
  background-color: #74d3dc;
  position: fixed;
  bottom: 0;
}

footer ul {
  display: flex;
  align-items: center;
}

footer ul li {
  width: 50vw;
  display: flex;
  height: 4em;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  
}

footer ul li a {
  text-decoration: none;
  background-color: #5038bc;
  border-radius: 2em;
  padding: .5em 1em .5em 1em;
  color: white;
  border: 0;
}